#page-container {
  position: relative;
  min-height: 100vh;
  background: #ecf0f1
}


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

header{
    background: #ffffff;
}

footer{
    background: #202020;
    color:#d6d6d6;
    z-index: auto;
}

.custom-line{
    min-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.extra-spadding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.spadding{
    padding-top: 75px;
    padding-bottom: 75px;
}

.mpadding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.bpadding{
    padding-top: 125px;
    padding-bottom: 125px;
}

hr.style {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.background{
    background: #64927d;
}

.title-police{
    font-family: 'Permanent Marker', cursive;
}

.para-police{
    font-family: 'Lato', sans-serif;
}


.tool{
    width: auto; /* You can set the dimensions to whatever you want */
    height: 250px;
    object-fit: cover;
}

.img-round{
    width: auto; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
  }

a{ 
   text-decoration:none; 
   color:black;
  } 

a:hover{ 
    text-decoration:none; 
    color:#328c62;
   } 

   /*zoom product/cat */
.zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#map {
    height: 400px;
    width: 100%;
  }


.bee{
    width: auto; /* You can set the dimensions to whatever you want */
    height: 50px;
    z-index: 1;
    transform: translate(1500px, -20px) rotate(10deg);
    position: absolute;
}
